$breadcrumb-divider: quote(">");

@import "~bootstrap/scss/bootstrap";
@import "~viewerjs/dist/viewer.min.css";

body {
    padding-top: 70px;
}

.screenshot {
    width: 42vw;
}

.breadcrumb-item a {
    font-size: smaller;
}
